#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:  Helvetica;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10 px 20 px;
    font-size: 1.5em;
    color: white;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: blue;
}